/* Google Fonts */
/* Quicksand */
@import url(http://fonts.googleapis.com/css?family=Quicksand:300,400,700);


/* DEFINIR FUENTE */
body, h1, p, a{
    font-family: 'Quicksand', sans-serif;
}



.progreso{
    width: 100%;
    height: 10px;
}
.progreso div{
    width: 20%;
    height: 10px;
    background: #eee;
    float: left;
}

.progreso div.correcto{
    background: rgb(28, 184, 65);
}
.progreso div.error{
    background: rgb(202, 60, 60);
}


section.secciones{
    height: 540px;
    overflow:hidden;
}

section.secciones>.pure-g{
    height: 540px;
}

.material p{
    margin: 10px;
}

.material button {
    float:right;
}


.material .perro{
    width: 50px;
}
.material .doghouse, .material .cathouse{
    width: 150px;
    height: 150px;
    margin: 10px 35px;
    float: left;
}
.material .doghouse img, .material .cathouse img {
    width: 100%;
}





/* EJERCICO 4 */



.comidagato, .comidaperro{
    width: 120px;
    position: absolute;
}
.comidagato img, .comidaperro img{
    width: 100%;
}

#jsplumbcontainer{
    position: relative;
    height: 300px;
}
#unirperro{
    position: absolute;
    left: 60px;
    top: 100px;
}
.comidagato{
    right: 60px;
    top: 50px;
}
.comidaperro{
    right: 60px;
    top: 150px;
}

